/*custom font--------------*/

@font-face {
    font-family: "Agincourt Std Regular";
    src: url("../font/Agincourt Std Regular.otf");
}

@font-face {
    font-family: "zelda";
    src: url("../font/TheWildBreathOfZelda-15Lv.ttf");
}

@font-face {
    font-family: "Friz";
    src: url("../font/Friz Quadrata Std Medium.otf");
}


/* ------------- animations ------------------*/

@keyframes sunnyControl {
    from {
        box-shadow: 0 0 30px #9e70e7;
    }
    to {
        box-shadow: 0 0 10px #a100ff;
    }
}

@keyframes sunnyCombat {
    from {
        box-shadow: 0 0 3px #ebecb6 inset;
    }
    to {
        box-shadow: 0 0 0px #ebecb6 inset;
    }
}


/* ----------------------------------------- */

.left {
    float: left;
}

.right {
    float: right;
}

body {
    font-family: "Friz", sans-serif;
    font-size: 14px;
}

.HDclickable:hover{
    text-shadow: 0 0 8px red;
}
/*---------------scrollbar----------------*/

 ::-webkit-scrollbar {
    width: 6px;
}

.macro-sheet .form-group.command textarea {
    height: calc(100% - 24px);
    resize: none;
    color: white;
}

 ::-webkit-scrollbar-track {
    box-shadow: 0 0 1px #999 inset;
    border-radius: 4px;
}

 ::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 3px;
    background: #5637e2;
    border: 1px solid #1900ff;
}

 :root {
    scrollbar-width: thin;
    scrollbar-color: #382b7c rgb(3, 1, 1);
}


/*---------------resize-handler----------------*/

.window-app .window-resizable-handle {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -1px;
    right: 0;
    background: #604fc1;
    padding: 2px;
    border: 1px solid #fffcfc;
    border-radius: 4px 0 0 0;
    z-index: 1000;
}


/*---------------logo----------------*/

.hdlogo {
    background-image: url("../img/dragon_tete.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
}


/* ---------------modifs map activ----------------- */

a.scene-name {
    font-family: "zelda";
    text-transform: uppercase;
    border: none;
}

#navigation #scene-list .scene {
    text-align: justify;
    background-color: #2d4969be;
    border: 1px solid rgb(0, 4, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

#navigation #scene-list .scene.gm {
    background-color: #472328da;
    border: 1px solid #ae0000;
}

#navigation #scene-list .scene.active {
    background-color: #357a44da;
    border: 1px solid #1dae00;
}

#navigation #scene-list .scene.view {
    background-color: #23472bd7;
    box-shadow: 0 0 10px #0f7729;
}


/*---------------select*/

select {
    height: 25px;
    background: rgba(255, 255, 255, 0.733);
    border: 1px solid #7a7971;
    border-radius: 3px;
    padding: 0 3px;
    text-overflow: ellipsis;
}


/*  All D&D5e Apps                           */


/* ----------------------------------------- */

.dnd5e input[type="text"],
.dnd5e select {
    height: calc(100% - 2px);
    border: 1px solid #7a7971;
    background: rgba(0, 0, 0, 0.05);
    color: #2e1f49;
}

.dnd5e input[type="text"]:hover,
.dnd5e input[type="text"]:focus {
    border: 1px solid #111;
    box-shadow: 0 0 8px #8d568d;
}

.dnd5e input:disabled,
.dnd5e select:disabled,
.dnd5e textarea:disabled {
    color: #4b4a44;
}

.dnd5e input:disabled:hover,
.dnd5e select:disabled:hover,
.dnd5e textarea:disabled:hover,
.dnd5e input:disabled:focus,
.dnd5e select:disabled:focus,
.dnd5e textarea:disabled:focus {
    box-shadow: none !important;
}

.buttons {
    display: inline-block
}

.dnd5e button {
    background: rgba(0, 0, 0, 0.1);
    border: 2px groove #eeede0;
}

.card-buttons button {
    background-color: #8e5252;
}

.dnd5e label.checkbox {
    flex: auto;
    margin: 0;
    line-height: 20px;
    font-size: 11px;
    text-align: right;
}

.dnd5e label.checkbox input[type="checkbox"] {
    height: auto;
    margin: 0 5px 0;
    position: relative;
    top: 3px;
}

.dnd5e .form-group label {
    flex: 2;
    color: #4b4a44;
    font-weight: bold;
}

.dnd5e .form-group .form-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.dnd5e .form-group .form-fields>* {
    flex: 1;
}

.dnd5e .form-group .form-fields .flex1 {
    flex: 1;
}

.dnd5e .form-group .form-fields .flex2 {
    flex: 2;
}

.dnd5e .form-group .form-fields .flex3 {
    flex: 3;
}

.dnd5e .form-group .form-fields .flex4 {
    flex: 4;
}

.dnd5e .form-group .form-fields>* {
    margin: 0 3px 0 0;
}

.dnd5e .form-group .form-fields>*:last-child {
    margin-right: 0;
}

.dnd5e .form-group.stacked label {
    flex: 0 0 100%;
    margin: 0;
}

.dnd5e .form-group.stacked label.checkbox {
    flex: auto;
    text-align: left;
}

.dnd5e .form-header {
    color: rgb(56, 53, 53);
    margin: 0 0 0.25em 0;
    padding: 0 2px;
    font-family: "Agincourt Std Regular";
    font-size: 20px;
    font-size: 24px;
    border-top: 2px groove #eeede0;
    border-bottom: 2px groove #eeede0;
}

.dnd5e .tag {
    display: inline-block;
    margin: 0 2px 0 0;
    padding: 0 3px;
    font-size: 10px;
    line-height: 16px;
    border: 1px solid #999;
    border-radius: 3px;
    background: rgba(65, 62, 62, 0.05);
}


/* ----------------------------------------- */


/*  Entity Sheets Specifically               */


/* ----------------------------------------- */


/* ----------------------------------------- */


/*  Element Styles                           */


/* ----------------------------------------- */


/* ----------------------------------------- */


/*  TinyMCE                                  */


/* ----------------------------------------- */


/* ----------------------------------------- */


/*  Sheet Header                             */


/* ----------------------------------------- */


/* ----------------------------------------- */


/*  Sheet Navigation                         */


/* ----------------------------------------- */


/* ----------------------------------------- */


/*  Sheet Body                               */


/* ----------------------------------------- */


/* ----------------------------------------- */


/*  List Filters                             */


/* ----------------------------------------- */

.dnd5e.sheet .window-content {
    overflow-y: hidden;
    padding: 5px;
    background: url("../img/fond.jpg") repeat;
    font-size: 13px;
    color: #2e1f49;
}

.dnd5e.sheet .window-content form {
    height: 100%;
    overflow: overlay;
}

.dnd5e.sheet .window-content .tab {
    height: 100%;
    overflow-y: auto;
    align-content: flex-start;
}

.dnd5e.sheet input[type="text"] {
    background: none;
    border: 1px solid transparent;
}

.dnd5e.sheet input[type="text"]:hover,
.dnd5e.sheet input[type="text"]:focus {
    border: 1px solid #111;
}

.dnd5e.sheet select {
    flex: 1;
    font-size: 12px;
    height: 22px;
    background: transparent;
}

.dnd5e.sheet .editable .rollable:hover {
    color: #000;
    text-shadow: 0 0 10px #8d568d;
    cursor: pointer;
}

.dnd5e.sheet .editor {
    height: 100%;
}

.dnd5e.sheet .editor .tox-toolbar-overlord,
.dnd5e.sheet .editor .tox-toolbar__primary {
    background: none;
}

.charname::first-letter {
    font-family: Agincourt Std Regular;
    font-size: 50px;
    text-shadow: 0 0 3px #9100ff;
}

.dnd5e.sheet .sheet-header {
    flex: 0 0 100px;
    border-bottom: 2px groove #eeede0;
    font-family: "Agincourt Std Regular";
    font-size: 20px;
    /* Character Name */
    /* Profile Image */
    /* Header Summary Details */
}

.dnd5e.sheet .sheet-header h1 {
    flex: 1;
    border-bottom: none;
    height: 60px;
    margin: 0;
    padding: 5px;
}

.dnd5e.sheet .sheet-header h1 input {
    height: 50px;
    font-size: 36px;
}

.dnd5e.sheet .sheet-header img.profile {
    flex: 0 0 100px;
    max-width: 100px;
    height: 100px;
    object-fit: contain;
    border: none;
    border-right: 2px groove #eeede0;
}

.dnd5e.sheet .sheet-header .summary {
    flex: 0 0 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 2px groove #eeede0;
    border-bottom: none;
}

.dnd5e.sheet .sheet-header .summary li {
    width: 33.33%;
    float: left;
    height: 34px;
    margin: 2px 0;
    padding: 0 3px;
    border-right: 2px groove #eeede0;
    line-height: 34px;
    color: #4b4a44;
}

.dnd5e.sheet .sheet-header .summary li:last-child {
    border-right: none;
}

.dnd5e.sheet .sheet-navigation {
    flex: 0 0 30px;
    margin-bottom: 5px;
    font-family: "Agincourt Std Regular";
    font-size: 20px;
}

.dnd5e.sheet .sheet-navigation .item {
    height: 30px;
    line-height: 32px;
    margin: 0 24px;
    border-bottom: 3px solid #b5b3a4;
}

.dnd5e.sheet .sheet-navigation .item.active {
    border-bottom: 3px solid #8d568d;
}

.dnd5e.sheet .sheet-body {
    flex: 1;
    overflow: hidden;
}

.dnd5e.sheet .filter-list {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 16px;
}

.dnd5e.sheet .filter-list .filter-title {
    flex: 3;
}

.dnd5e.sheet .filter-list .filter-item {
    text-align: center;
    font-size: 12px;
    margin: 0 6px;
    border-bottom: 3px solid #b5b3a4;
    white-space: nowrap;
}

.dnd5e.sheet .filter-list .filter-item:hover {
    text-shadow: 0 0 4px #8d568d;
    border-bottom: 3px solid #7a7971;
}

.dnd5e.sheet .filter-list .filter-item.active {
    border-bottom: 3px solid #8d568d;
}


/* ----------------------------------------- */


/* Trait Selector
  /* ----------------------------------------- */

#trait-selector .trait-list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #848080
}

#trait-selector input[type="text"] {
    height: 24px;
    margin: 2px;
    color: #ad94a6;
}

.dnd5e.sheet.actor .sheet-header .charlevel {
    flex: 0 0 160px;
    height: 60px;
    margin: 0;
    padding: 5px;
    text-align: right;
}

.dnd5e.sheet.actor .sheet-header .charlevel .level {
    width: 100%;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
}

.dnd5e.sheet.actor .sheet-header .charlevel .level label {
    display: inline;
    font-size: 24px;
    text-align: right;
}

.dnd5e.sheet.actor .sheet-header .charlevel .level input {
    display: inline;
    font-size: 24px;
    text-align: center;
}

.dnd5e.sheet.actor .sheet-header .charlevel .level.noxp {
    margin-top: 10px;
}

.dnd5e.sheet.actor .sheet-header .charlevel .level.noxp>label {
    font-size: 32px;
}

.dnd5e.sheet.actor .sheet-header .charlevel .level.noxp>input {
    font-size: 32px;
    flex: 0 0 40px;
    height: 44px;
}

.dnd5e.sheet.actor .sheet-header .charlevel .experience {
    width: 100%;
    height: 20px;
    padding-right: 5px;
    font-size: 16px;
    color: #4b4a44;
}

.dnd5e.sheet.actor .attributes input.temphp {
    width: 48%;
}

.dnd5e.sheet.actor h4.box-title {
    line-height: 16px;
    margin: 4px 8px 2px;
    font-size: 18px;
    border-bottom: 1px solid #b5b3a4;
}

.dnd5e.sheet.actor ul.attributes {
    list-style: none;
    margin: 5px 0 0;
    padding: 0;
}
.dnd5e.sheet.actor ul.attributes li.attribute.resource {
max-width:115px;
}
.dnd5e.sheet.actor ul.attributes li.attribute {
    height: 70px;
    margin: 0 5px;
    border: 2px groove #eeede0;
    border-radius: 4px;
    font-family: "Agincourt Std Regular";
    font-size: 20px;
    text-align: center;
}

.dnd5e.sheet.actor ul.attributes li.attribute .attribute-name {
    flex: 0 0 18px;
}

.dnd5e.sheet.actor ul.attributes li.attribute .attribute-value {
    height: 28px;
    line-height: 28px;
}

.dnd5e.sheet.actor ul.attributes li.attribute .attribute-value input {
    display: inline;
    max-width: 80%;
    margin: 0;
    font-size: 24px;
}

.dnd5e.sheet.actor ul.attributes li.attribute .attribute-value span.sep {
    display: inline;
    position: relative;
    top: 2px;
    font-size: 28px;
    color: #7a7971;
}

.dnd5e.sheet.actor ul.attributes li.attribute .attribute-value.multiple input {
    max-width: 33%;
}

.dnd5e.sheet.actor ul.attributes li.attribute .attribute-footer {
    flex: 0 0 18px;
    margin-top: -1px;
    line-height: 18px;
    font-family: "Signika", "Palatino Linotype", serif;
    font-size: 12px;
}

.dnd5e.sheet.actor .ability-scores .ability {
    height: 70px;
    margin: 0 5px;
    text-align: center;
    border: 2px groove #eeede0;
    border-radius: 3px;
    /* Hide modifier box on hover */
}

.dnd5e.sheet.actor .ability-scores .ability input.ability-score {
    height: 30px;
    width: 50px;
    margin: 0 auto;
    line-height: 32px;
    font-size: 24px;
}

.dnd5e.sheet.actor .ability-scores .ability .ability-modifiers {
    height: 24px;
    margin: -10px 0 0;
}

.dnd5e.sheet.actor .ability-scores .ability .ability-modifiers span.ability-mod,
.dnd5e.sheet.actor .ability-scores .ability .ability-modifiers span.ability-save {
    flex: 0 0 24px;
    height: 24px;
    border-top: 2px groove #eeede0;
}

.dnd5e.sheet.actor .ability-scores .ability .ability-modifiers span.ability-mod {
    border-right: 2px groove #eeede0;
}

.dnd5e.sheet.actor .ability-scores .ability .ability-modifiers .ability-proficiency {
    line-height: 30px;
}

.dnd5e.sheet.actor .ability-scores .ability .ability-modifiers span.ability-save {
    border-left: 2px groove #eeede0;
}

.dnd5e.sheet.actor .ability-scores .ability input.ability-score:hover+.ability-modifiers {
    visibility: hidden;
}

.dnd5e.sheet.actor .proficiency-toggle {
    color: #b5b3a4;
    font-size: 12px;
}

.dnd5e.sheet.actor .proficient .proficiency-toggle {
    color: #4b4a44;
}

.dnd5e.sheet.actor .locked .proficiency-toggle {
    color: #b5b3a4;
    text-shadow: none;
    cursor: default;
}

.dnd5e.sheet.actor ul.skills-list {
    flex: 0 0 192px;
    list-style: none;
    margin: 5px 5px 0;
    padding: 2px 2px 0;
    border: 2px groove #eeede0;
    border-radius: 3px;
}

.dnd5e.sheet.actor ul.skills-list li.skill {
    height: 22px;
    padding: 3px 0;
}

.dnd5e.sheet.actor ul.skills-list li.skill h4 {
    flex: 1px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
}

.dnd5e.sheet.actor ul.skills-list li.skill .skill-proficiency {
    flex: 0 0 16px;
    line-height: 18px;
}

.dnd5e.sheet.actor ul.skills-list li.skill .skill-ability {
    flex: 0 0 26px;
}

.dnd5e.sheet.actor ul.skills-list li.skill .skill-mod {
    flex: 0 0 20px;
}

.dnd5e.sheet.actor ul.skills-list li.skill .skill-passive {
    flex: 0 0 26px;
    text-align: center;
    color: #7a7971;
}

.dnd5e.sheet.actor .counters .counter {
    padding: 0 3px;
    line-height: 32px;
}

.dnd5e.sheet.actor .counters .counter h4 {
    FONT-WEIGHT: 100;
    margin: 0;
    font-family: "Agincourt Std Regular";
    font-size: 16px;
}

.dnd5e.sheet.actor .counters .counter .counter-value {
    flex: 0 0 50px;
    text-align: right;
}

.dnd5e.sheet.actor .counters .counter .counter-value>* {
    display: inline;
}

.dnd5e.sheet.actor .counters .counter input[type="text"] {
    height: 20px;
    max-width: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.dnd5e.sheet.actor .counters .counter input[type="checkbox"] {
    position: relative;
    margin: 0;
    top: 6px;
}

.dnd5e.sheet.actor .counters .counter span.sep {
    margin: 0 -2px;
    font-size: 12px;
}

.dnd5e.sheet.actor .traits {
    margin: 0 5px;
}

.dnd5e.sheet.actor .traits .form-group,
.dnd5e.sheet.actor .traits .form-group-stacked {
    margin: 0 0 4px 0;
    justify-content: space-between;
}

.dnd5e.sheet.actor .traits .trait-selector {
    flex: 0 0 16px;
    padding: 2px 0;
    color: #999;
    font-size: 10px;
}

.dnd5e.sheet.actor .traits .configure-flags {
    flex: 1;
}

.dnd5e.sheet.actor .traits .traits-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.dnd5e.sheet.actor .traits .actor-size {
    flex: 0 0 150px;
}

.dnd5e.sheet.actor .traits label {
    flex: 0 0 150px;
    line-height: 20px;
    font-weight: bold;
    margin: 0;
}

.dnd5e.sheet.actor .traits input {
    text-align: right;
}

.dnd5e.sheet.actor .traits i.fas {
    float: right;
    margin-right: 3px;
    text-align: right;
    color: #999;
}

.dnd5e.sheet.actor .traits i.fas:hover {
    color: #111;
    text-shadow: 0 0 10px #8d568d;
}

.dnd5e.sheet.actor .traits .inactive {
    color: #7a7971;
}

.dnd5e.sheet.actor .tab.features,
.dnd5e.sheet.actor .tab.inventory,
.dnd5e.sheet.actor .tab.spellbook {
    overflow-y: hidden;
}

.dnd5e.sheet.actor .inventory-filters {
    margin: 0 8px;
    flex: 0 0 20px;
}

.dnd5e.sheet.actor .inventory-filters h3,
.dnd5e.sheet.actor .inventory-filters .filter-title {
    font-family: "Agincourt Std Regular";
    font-size: 20px;
    color: #4b4a44;
    font-size: 18px;
    margin: 0;
}

.dnd5e.sheet.actor .inventory-filters.spellbook-filters {
    flex: 0 0 40px;
}

.dnd5e.sheet.actor .inventory-filters .currency {
    list-style: none;
    margin: 4px 0 8px;
    padding: 0;
    font-size: 12px;
}

.dnd5e.sheet.actor .inventory-filters .currency label {
    flex: 0;
    margin-left: 8px;
    text-align: right;
    line-height: 20px;
    color: #7a7971;
}

.dnd5e.sheet.actor .inventory-filters .currency input[type="text"] {
    flex: 0 0 48px;
    text-align: center;
    margin-left: 8px;
    border-bottom: 2px groove #eeede0;
}

.dnd5e.sheet.actor .inventory-list {
    list-style: none;
    margin: 0;
    padding: 0 5px;
    overflow-y: auto;
}

.dnd5e.sheet.actor .inventory-list .item {
    line-height: 30px;
    padding: 0 2px;
    border-bottom: 1px solid #c9c7b8;
}

.dnd5e.sheet.actor .inventory-list .item:last-child {
    border-bottom: none;
}

.dnd5e.sheet.actor .inventory-list .item .item-name {
    cursor: pointer;
}

.dnd5e.sheet.actor .inventory-list .item .item-name .item-image {
    flex: 0 0 30px;
    background-size: 30px;
    margin-right: 5px;
}

.dnd5e.sheet.actor .inventory-list .item .item-name h4 {
    margin: 0;
}

.dnd5e.sheet.actor .inventory-list .item .item-name i.attuned {
    color: #7a7971;
}

.dnd5e.sheet.actor .inventory-list .item .item-properties {
    margin-top: 3px;
}

.dnd5e.sheet.actor .inventory-list .item .item-recharge {
    flex: 0 0 80px;
    text-align: right;
    font-size: 11px;
    color: #7a7971;
}

.dnd5e.sheet.actor .inventory-list .inventory-header {
    margin: 2px 0;
    padding: 0;
    background: rgb(255 99 99 / 38%);
    border: 2px groove #eeede0;
    font-weight: bold;
    line-height: 24px;
}

.dnd5e.sheet.actor .inventory-list .inventory-header h3 {
    margin: 0 -5px 0 0;
    padding-left: 5px;
    font-size: 13px;
    font-weight: bold;
}

.dnd5e.sheet.actor .inventory-list .inventory-header .item-controls a.item-create {
    flex: 0 0 100%;
}

.dnd5e.sheet.actor .inventory-list .item-detail {
    flex: 0 0 80px;
    font-size: 12px;
    color: #7a7971;
    text-align: center;
    border-right: 1px solid #c9c7b8;
}

.dnd5e.sheet.actor .inventory-list .item-detail:last-child {
    border-right: none;
}

.dnd5e.sheet.actor .inventory-list .item-weight {
    border-left: 1px solid #c9c7b8;
    border-right: 1px solid #c9c7b8;
}

.dnd5e.sheet.actor .inventory-list .item-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dnd5e.sheet.actor .inventory-list .item-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: flex-end;
}

.dnd5e.sheet.actor .inventory-list .item-controls>* {
    flex: 1;
}

.dnd5e.sheet.actor .inventory-list .item-controls .flex1 {
    flex: 1;
}

.dnd5e.sheet.actor .inventory-list .item-controls .flex2 {
    flex: 2;
}

.dnd5e.sheet.actor .inventory-list .item-controls .flex3 {
    flex: 3;
}

.dnd5e.sheet.actor .inventory-list .item-controls .flex4 {
    flex: 4;
}

.dnd5e.sheet.actor .inventory-list .item-controls a {
    font-size: 10px;
    text-align: center;
    color: #666;
}

.dnd5e.sheet.actor .inventory-list .item-summary {
    flex: 0 0 100%;
    font-size: 12px;
    line-height: 16px;
    padding: 0.25em 0.5em;
    border-top: 1px solid #c9c7b8;
}

.dnd5e.sheet.actor .spell-slots,
.dnd5e.sheet.actor .spell-comps {
    flex: 0 0 60px;
    font-size: 12px;
    text-align: center;
    color: #7a7971;
    border-right: 1px solid #c9c7b8;
}

.dnd5e.sheet.actor .spell-slots input,
.dnd5e.sheet.actor .spell-slots span.sep {
    display: inline;
    max-width: 20px;
    text-align: center;
}

.dnd5e.sheet.actor .spell-uses {
    padding-right: 8px;
    text-align: right !important;
}

.dnd5e.sheet.actor .spell-school,
.dnd5e.sheet.actor .spell-action {
    flex: 0 0 120px;
    font-size: 12px;
    color: #7a7971;
    text-align: center;
    border-right: 1px solid #c9c7b8;
}

.dnd5e.sheet.actor .spellbook-empty .item-controls {
    flex: 1;
}

.dnd5e.sheet.actor .editor {
    padding: 0 8px;
}

.dnd5e.sheet.item {
    min-height: 420px;
    /* ----------------------------------------- */
    /*  Sheet Header                             */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Item Details Form                        */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Item Actions                             */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Item Actions                             */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Loot Sheet (No Tabs)                     */
    /* ----------------------------------------- */
}

.dnd5e.sheet.item .sheet-header img.profile {
    border: 2px solid #000;
}

.dnd5e.sheet.item .sheet-header .item-subtitle {
    flex: 0 0 80px;
    height: 60px;
    margin: 0;
    padding: 5px;
    text-align: right;
    color: #7a7971;
}

.dnd5e.sheet.item .sheet-header .item-subtitle .item-type {
    font-size: 24px;
    line-height: 26px;
    margin: 0;
}

.dnd5e.sheet.item .sheet-header .item-subtitle .item-status {
    font-size: 16px;
    line-height: 24px;
}

.dnd5e.sheet.item .sheet-navigation {
    margin-bottom: 5px;
}

.dnd5e.sheet.item .sheet-navigation .item {
    font-size: 18px;
}

.dnd5e.sheet.item .sheet-body {
    overflow: hidden scroll;
}

.dnd5e.sheet.item .sheet-body .tab {
    padding: 0 5px;
    overflow: hidden scroll;
}

.dnd5e.sheet.item .sheet-body .item-properties {
    flex: 0 0 120px;
    margin: 5px 5px 5px 0;
    padding-right: 5px;
    border-right: 2px groove #eeede0;
    overflow: hidden scroll;
}

.dnd5e.sheet.item .sheet-body .item-properties .form-group {
    margin: 0;
}

.dnd5e.sheet.item .sheet-body .item-properties .form-group label {
    line-height: 20px;
}

.dnd5e.sheet.item .sheet-body .item-properties .form-group input {
    text-align: right;
}

.dnd5e.sheet.item .sheet-body .item-properties .properties-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dnd5e.sheet.item .sheet-body .item-properties .properties-list li {
    margin: 3px 0;
    padding: 0 2px;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #eeede0;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
}

.dnd5e.sheet.item .details input[type="text"],
.dnd5e.sheet.item .details select {
    height: 24px;
    border: 1px solid #7a7971;
    background: rgba(0, 0, 0, 0.05);
}

.dnd5e.sheet.item .details .form-group span {
    text-align: center;
    line-height: 24px;
}

.dnd5e.sheet.item .details .form-group.input-select select {
    flex: 1.8;
}

.dnd5e.sheet.item .details .form-group.input-select-select select {
    flex: 1.5;
}

.dnd5e.sheet.item .details .form-group.uses-per input {
    flex: 1;
}

.dnd5e.sheet.item .details .form-group.uses-per span {
    flex: 0 0 16px;
}

.dnd5e.sheet.item .details .form-group.uses-per select {
    flex: 3;
}

.dnd5e.sheet.item .details span.sep {
    flex: 0 0 8px;
}

.dnd5e.sheet.item .details .prepa#8d568d {
    flex: 1.3 !important;
    text-align: right;
    padding-right: 10px;
}

.dnd5e.sheet.item .details .spell-materials {
    flex: 0 0 100%;
    margin: 0.25em 0;
    justify-content: flex-end;
}

.dnd5e.sheet.item .details .spell-materials label {
    flex: 0 0 64px;
    text-align: right;
    margin-right: 5px;
    font-size: 12px;
    line-height: 24px;
}

.dnd5e.sheet.item .details .spell-materials input[type="text"] {
    flex: 0 0 48px;
    margin-right: 10px;
}

.dnd5e.sheet.item h4.damage-header {
    margin: 0;
    padding: 0;
    font-weight: bold;
    line-height: 24px;
    color: #4b4a44;
}

.dnd5e.sheet.item .damage-parts {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dnd5e.sheet.item .damage-parts .damage-part {
    flex: 0 0 100%;
    padding: 0;
}

.dnd5e.sheet.item .damage-parts .damage-part input {
    flex: 3;
}

.dnd5e.sheet.item .damage-parts .damage-part select {
    margin-left: 5px;
    flex: 1;
}

.dnd5e.sheet.item .damage-control {
    width: 18px;
    flex: 0 0 18px;
    line-height: 24px;
    float: right;
    text-align: right;
    color: #7a7971;
}

.dnd5e.sheet.item .recharge span {
    flex: 0 0 80px;
}

.dnd5e.sheet.item .recharge label.checkbox {
    flex: 0 0 80px;
    text-align: right;
}

.dnd5e.sheet.item .weapon-properties label.checkbox {
    flex: 0 0 98px;
}

.dnd5e.sheet.item .loot-header {
    margin-bottom: 10px;
}


/* ----------------------------------------- */


/*  Chat Cards
  /* ----------------------------------------- */

.dnd5e.chat-card {
    font-style: normal;
    font-size: 12px;
}

.dnd5e.chat-card .card-header {
    padding: 3px 0;
    border-top: 2px groove #FFF;
    border-bottom: 2px groove #FFF;
}

.dnd5e.chat-card .card-header img {
    flex: 0 0 36px;
    margin-right: 5px;
}

.dnd5e.chat-card .card-header h3 {
    flex: 1;
    margin: 0;
    line-height: 36px;
    font-family: "Agincourt Std Regular";
    font-size: 20px;
    color: #4b4a44;
}

.dnd5e.chat-card .card-content {
    margin: 5px 0;
}

.dnd5e.chat-card .card-content h3 {
    font-size: 12px;
    margin: 0;
    font-weight: bold;
}

.dnd5e.chat-card .card-content>* {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.dnd5e.chat-card .card-buttons {
    margin: 5px 0;
}

.dnd5e.chat-card .card-buttons span {
    display: block;
    line-height: 28px;
    text-align: center;
    border: 1px solid #CCC;
}

.dnd5e.chat-card .card-buttons button {
    font-size: 12px;
    height: 24px;
    line-height: 20px;
    margin: 2px 0;
}

.dnd5e.chat-card .card-footer {
    padding: 3px 0 0;
    border-top: 2px groove #FFF;
}

.dnd5e.chat-card .card-footer span {
    border-right: 2px groove #FFF;
    padding: 0 5px 0 0;
    font-size: 10px;
}

.dnd5e.chat-card .card-footer span:last-child {
    border-right: none;
    padding-right: 0;
}


/* ----------------------------------------- */


/*  Basic Structure                          */


/* ----------------------------------------- */

.dnd5e.sheet.actor.character {
    min-width: 710px;
    min-height: 800px;
    /* ----------------------------------------- */
    /*  Sheet Header                             */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Sheet Body                               */
    /* ----------------------------------------- */
    /* ----------------------------------------- */
    /*  Inventory                                */
    /* ----------------------------------------- */
    /* Encumbrance Bar */
    /* ----------------------------------------- */
    /*  Spellbook                                */
    /* ----------------------------------------- */
}

.dnd5e.sheet.actor.character .sheet-header img.profile {
    flex: 0 0 180px;
    max-width: 180px;
    height: 180px;
}

.dnd5e.sheet.actor.character .sheet-header .charlevel {
    padding: 0 5px 2px;
}

.dnd5e.sheet.actor.character .sheet-header .charlevel .level {
    height: 28px;
}

.dnd5e.sheet.actor.character .sheet-header .charlevel .experience input[type="text"] {
    width: 100px;
}

.dnd5e.sheet.actor.character .sheet-header .charlevel .xpbar {
    width: 100%;
    flex: 0 0 8px;
    background: #666;
    border: 1px solid #000;
    border-radius: 3px;
}

.dnd5e.sheet.actor.character .sheet-header .charlevel .xpbar .bar {
    height: 4px;
    margin: 1px;
    display: block;
    background: #afebff;
    border: 1px solid #000;
    border-radius: 2px;
}

.dnd5e.sheet.actor.character .sheet-header .summary {
    border-bottom: 2px groove #eeede0;
}

.dnd5e.sheet.actor.character .sheet-header .attributes {
    height: 80px;
    margin: 0;
}

.dnd5e.sheet.actor.character .sheet-header .attributes .attribute {
    height: 80px;
    margin: 0;
    border: none;
    border-right: 2px groove #eeede0;
    border-radius: 0;
}

.dnd5e.sheet.actor.character .sheet-header .attributes .attribute:last-child {
    border-right: none;
}

.dnd5e.sheet.actor.character .sheet-header .attributes .attribute .attribute-value {
    margin: 5px 0 0;
    height: 32px;
    line-height: 32px;
}

.dnd5e.sheet.actor.character .sheet-header .attributes .attribute .attribute-name {
    margin-top: 6px;
}

.dnd5e.sheet.actor.character .sheet-header .attributes .attribute .attribute-footer {
    margin-bottom: 2px;
}

.dnd5e.sheet.actor.character .sheet-header .attributes a.rest {
    border: 1px solid #b5b3a4;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.05);
    padding: 1px 3px;
    margin: 0 6px;
    font-size: 10px;
}

.dnd5e.sheet.actor.character .attributes .resource .attribute-name {
    margin: 0 8px;
    font-size: 12px;
}

.dnd5e.sheet.actor.character .attributes .resource .attribute-name input[type="text"] {
    height: 20px;
    margin: 2px 0 -2px;
    line-height: 24px;
}

input.speed {
    font-size: 10px;
}

.dnd5e.sheet.actor.character .attributes .resource label.checkbox {
    margin: 0 3px;
}

.dnd5e.sheet.actor.character .attributes .resource label.checkbox input[type="checkbox"] {
    transform: scale(1.2);
}

.dnd5e.sheet.actor.character .attributes .initiative .attribute-footer input {
    width: 32px;
}

.dnd5e.sheet.actor.character ul.skills-list {
    flex: 0 0 212px;
}

.dnd5e.sheet.actor.character ul.skills-list li.skill {
    padding: 3px;
}

.dnd5e.sheet.actor.character ul.skills-list li.skill h4 {
    flex: 1px;
    margin: 0;
    font-size: 13px;
}

.dnd5e.sheet.actor.character .counters .death-saves {
    flex: 2;
}

.dnd5e.sheet.actor.character .counters .death-saves .counter-value {
    flex: 0 0 90px;
}

.dnd5e.sheet.actor.character .item-detail.player-class {
    flex: 0 0 180px;
    text-align: right;
    padding-right: 10px;
}

.dnd5e.sheet.actor.npc {
    min-width: 600px;
    min-height: 658px;
}

.dnd5e.sheet .sheet-navigation .item {
    height: fit-content;
    line-height: 32px;
    margin: 0 24px;
    border-bottom: 3px solid #8a338c
}

.dnd5e.sheet.actor.npc {
    min-width: 700px;
    min-height: 658px;
}


/* ----------------------------------------- */


/*  Basic Structure                          */


/* ----------------------------------------- */

#chat-log .message {
    color: black;
    background-image: url("/modules/srd-heros-et-dragons/img/fondmess.jpg");
    background-size: cover;
}

.message-sender {
    color: rgb(8, 8, 8);
    text-shadow: 0px 0px 15px #54116761;
    font-family: "zelda";
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
}

#chat-log .message .message-header {
    line-height: 20px;
    color: #4b4a44;
    background-color: #58121261;
    margin-bottom: 3px;
    padding: 3px;
}

#sidebar-tabs>.item.active {
    color: #FFF;
    border: 1px solid #ffffff;
    border-bottom: 3px solid #cc74f9;
    box-shadow: 0 0 6px inset #ae9cbb;
}

#sidebar-tabs {
    flex: 0 0 32px;
    box-sizing: border-box;
    margin: 0 0 5px;
    border-bottom: 1px solid #f3e8f8;
    box-shadow: 0 0 10px #dfccf5;
}

.tabs .item.active {
    text-shadow: 0 0 10px #9100ff;
}

body {
    background-image: url(../img/10.png);
    background-size: contain;
}

#sidebar {
    background-image: url(../img/fondApp.png);
}

.dialog-button,
button {
    color: #bcb1ce;
    background-image: url(../img/fondApp.png);
    font-family: "Friz";
}

button:hover {
    box-shadow: 0 0 5px #9afff9;
}

form .form-header {
    color: rgb(246, 244, 255)
}

form .form-group,
p.notes,
form .form-group .form-fields,
form .form-group .form-fields select,
input[type="text"],
form .form-group select {
    color: rgb(119, 107, 158)
}

.form-group input[type="number"] {
    color: #a09f9f;
}

form .form-group span.units {
    flex: 0;
    line-height: 28px;
    font-size: 12px;
    color: #7678a5;
}

.window-app .window-content {
    /*max-height: 100%;*/
    background-image: url("../img/fondApp.png");
    border-radius: 5px;
    box-shadow: 0 0 20px #000;
    margin: 3px 0;
    padding: 0.5em;
    color: #ffffff;
    z-index: 30;
}

#logo {
    cursor: grab;
}

#sidebar {
    -webkit-box-shadow: 1px 0 15px 1px rgba(111, 0, 255, 0.97);
    box-shadow: 1px 0 15px 1px rgba(227, 206, 255, 0.97);
}


/*------------macro window--------------*/

.macro-sheet .form-group.command textarea {
    height: calc(100% - 24px);
    resize: none;
    color: white;
}


/*---------macro bar---------*/
body.emu.e-body#emu #hotbar,
#hotbar {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-bottom: 12px solid transparent;
    border-image: url(../img/DÇcoupe\ image\ 3.png) 300 stretch;
    border-radius: 10px;
    width: 590px;
    height: 82px;
    background-image: url("../img/fondApp.png");
    background-size: cover;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -webkit-transform: rotateX(20deg) scaleX(0.9) scaleY(0.9) translateY(50px);
    transform: rotateX(20deg) scaleX(0.9) scaleY(0.9) translateY(50px);
}

#hotbar:hover {
    -webkit-transform: rotateX(0deg) scaleX(1) scaleY(1) translateY(30px);
    transform: rotateX(0deg) scaleX(1) scaleY(1) translateY(30px);
}

#hotbar #action-bar {
    flex: 1;
    height: 55px;
    pointer-events: all;
    margin-top: 10px;
}

#hotbar #hotbar-directory-controls {
    pointer-events: all;
    height: 80px;
}

#hotbar #macro-list {
    flex: 0 0 505px;
    height: 100%;
    list-style: none;
    margin: 0 2px;
    padding: 0;
    border: 0px
}

#hotbar .bar-controls {
    flex: 0 0 30px;
    height: 50px;
    text-align: center;
    color: #c9c7b8;
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid #fdfcfc;
    box-shadow: 0 0 3px #f7efef inset;
    border-radius: 3px;
}

#hotbar .macro.inactive {
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.486) inset;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 60px;
}

#hotbar .macro.inactive:hover {
    border: 1px solid rgba(255, 0, 0, 0.514);
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.514) inset;
}

#hotbar .macro.active {
    box-shadow: 0 0 5px rgba(43, 255, 0, 0.514) inset;
}

#hotbar .macro.active:hover {
    border: 1px solid rgba(43, 255, 0, 0.514);
    box-shadow: 0 0 10px rgba(43, 255, 0, 0.514) inset;
}

#navigation {
    border-bottom: 12px solid transparent;
    border-image: url(../img/DÇcoupe\ image\ 4.png) 400 stretch;
}

#module-management .package-list .package-title,
#module-management .package-list .package-metadata,
#module-management .package-list .package-description {
    color: #adaa9e;
}


/*---------controls right------------*/

nav#controls {
    width: max-content;
    border-right: 12px solid transparent;
    border-image: url(../img/DÇcoupe\ image\ 2.png) 400 stretch;
}

nav#controls .scene-control.active,
nav#controls .control-tool.active,
nav#controls .scene-control:hover,
nav#controls .control-tool:hover {
    color: #FFF;
    border: 1px solid #fbfbfb;
    border-bottom: 2px solid #ffffff;
    box-shadow: 0 0 10px #a100ff;
}

nav#controls .scene-control.active,
nav#controls .control-tool.active {
    animation-duration: 0.8s;
    animation-name: sunnyControl;
}

#players {
    background-image: url("../img/fondApp.png");
    background-size: cover;
}

#player-config label {
    font-size: 14px;
    font-weight: bold;
    color: #969695;
}

.sidebar-popout {
    background-image: url("../img/fondApp.png");
}

.window-app {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    box-shadow: 0 0 8px #d3e4f1;
    padding: 0;
    z-index: 100;
}


/*--------------compendium list----------*/

#compendium li.compendium-pack {
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

#compendium li.compendium-pack footer.compendium-footer {
    text-transform: uppercase;
    font-size: 10px;
    color: grey;
    margin-right: 28px;
    text-align: right;
}

#compendium li.compendium-pack .status-icons {
    top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 5px red;
}

#compendium h3 {
    margin: 0;
    padding: 5px;
    border: 1px solid #444;
    background: rgba(171, 102, 102, 0.28);
}


/*---------------entity link--------------*/

a.entity-link,
a.inline-roll {
    background: #DDD;
    padding: 1px 4px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    white-space: nowrap;
    word-break: break-all;
    background-color: #2f086e;
    color: white
}

a.entity-link.broken {
    background: rgba(255, 0, 0, 0.05);
    border: 1px dashed red;
    background-color: #6e1408a9;
}


/*-----------journal-------------*/

.journal-sheet .window-content {
    overflow-y: hidden;
    padding: 5px;
    background: url(../img/fond.jpg) repeat;
    font-size: 13px;
    color: #2e1f49;
}

.journal-sheet form input[name="name"] {
    font-family: "Agincourt Std Regular";
    font-size: 40px;
    color: rgb(66, 64, 64);
    text-shadow: 0 0 6px #9160b69f;
    text-align: center;
    border: none
}

.journal-sheet form input[name="name"]:hover,
.journal-sheet form input[name="name"]:focus {
    background-color: #2e1f4965;
}

.journal-sheet form button {
    color: black
}


/*------combat tracker------------*/

#combat li.combatant.hidden {
    color: grey;
    background-color: #ca934914;
}

#combat li.combatant.active {
    animation-duration: 0.3s;
    animation-name: sunnyCombat;
    color: rgb(72, 148, 104);
    background: rgba(2, 255, 10, 0.034);
}

#combat li.combatant.defeated {
    color: rgb(230, 98, 98);
    background-color: #ff000011;
}

#combat li.combatant.hover {
    animation-duration: 0.3s;
    animation-name: sunnyCombat;
}
